language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-18mode
  - jruby-19mode
  - jruby-head
#  - rbx-18mode
#  - rbx-19mode
  - ree
matrix:
  allow_failures:
    - rbx-18mode
    - rbx-19mode
