--default-return=''
--hide-void-return
--markup-provider=redcarpet
--markup=markdown
--fail-on-warning
--plugin yard_example_test
-
README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
AI_POLICY.md
GOVERNANCE.md
MAINTAINERS.md
LICENSE